@font-face {
  font-family: Caveat-Regular;
  src: url("./fonts/Caveat-Regular.ttf");
}
@font-face {
  font-family: Caveat-Bold;
  src: url("./fonts/Caveat-Bold.ttf");
}
@font-face {
  font-family: Lato-Regular;
  src: url("./fonts/Lato/Lato-Regular.ttf");
}
@font-face {
  font-family: Lato-Italic;
  src: url("./fonts/Lato/Lato-Italic.ttf");
}
@font-face {
  font-family: Lato-Black;
  src: url("./fonts/Lato/Lato-Black.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#app {
  max-width: 1280px;
  width: 100%;
  margin: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  width: 93%;
  padding: 0 50px;
  margin: 38px auto;
}
nav .nav-logo {
  width: 167px;
  height: 55px;
}
nav .nav-links {
  max-width: 550px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav-links a {
  font-family: Caveat-Regular;
  text-decoration: none;
  font-size: 25px;
  color: #000;
}
nav .nav-links a:hover {
  border-bottom: 3px solid #000;
}
nav .nav-links .site-btn {
  width: 158px;
  height: 52px;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #FFD972;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  font-family: Caveat-Regular;
}
nav .nav-links .site-btn:hover {
  border-bottom: none;
}
nav .nav-links .site-btn:hover span {
  border-bottom: 3px solid #000;
}
nav .nav-links .current-page {
  border-bottom: 3px solid #000;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  width: 93%;
  margin: 0 auto;
  font-family: "Lato-Italic";
  font-size: 15px;
  margin-bottom: 26px;
  padding: 0 50px;
}
footer .footer-links {
  display: flex;
}
footer .footer-links a {
  text-decoration: none;
  color: #000;
  margin-left: 20px;
}
footer .footer-socials {
  display: flex;
}
footer .footer-socials .footer-svg {
  width: 19px;
  height: 19px;
  margin-left: 20px;
}

.home {
  margin-top: -135px;
  margin-bottom: -50px;
  background-image: linear-gradient(rgba(242, 92, 84, 0.5), rgba(242, 92, 84, 0.5)), url("../images/hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
}
.home .home-info {
  position: absolute;
  top: 25%;
  left: 55%;
}
.home .home-info .home-pink-bubble {
  width: 167px;
  height: 167px;
  border-radius: 50%;
  background-color: #FCBCB8;
  padding: 65px 0 0 40px;
  text-align: center;
}
.home .home-info .home-pink-bubble p {
  font-family: "Lato-Italic";
  font-size: 10px;
  width: 95px;
}
.home .home-info .home-pink-bubble .home-yellow-bubble {
  position: absolute;
  background-color: #FFD972;
  border-radius: 50%;
  width: 357px;
  height: 357px;
  text-align: center;
  padding-top: 110px;
  top: 65px;
  right: 50px;
}
.home .home-info .home-pink-bubble .home-yellow-bubble h1 {
  font-family: "Caveat-Regular";
  font-size: 24px;
  margin-bottom: 30px;
}
.home .home-info .home-pink-bubble .home-yellow-bubble p {
  font-size: 13px;
  font-family: "Lato-Regular";
  width: 150px;
  margin: auto;
}

.login-page, .logout-page {
  min-height: 800px;
  width: 100%;
  background-color: #FFD972;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: -135px;
  margin-bottom: -50px;
}
.login-page h2, .logout-page h2 {
  font-size: 30px;
}
.login-page h3, .logout-page h3 {
  font-size: 12px;
}
.login-page input, .logout-page input {
  background-color: #FFD972;
  border: 0;
  outline: 0;
  border-style: solid;
  border-bottom: 3px solid black;
}
.login-page input::placeholder, .logout-page input::placeholder {
  font-size: 12px;
  color: black;
}
.login-page #logout-submit, .login-page #delete-submit, .logout-page #logout-submit, .logout-page #delete-submit {
  margin: 0 auto;
}
.login-page .login-form, .login-page .logout-form, .logout-page .login-form, .logout-page .logout-form {
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.login-page .login-form button, .login-page .logout-form button, .logout-page .login-form button, .logout-page .logout-form button {
  width: 158px;
  height: 52px;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #FFD972;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  font-family: Caveat-Regular;
  font-size: 25px;
  width: 209px;
  border: none;
  font-family: Caveat-Regular;
}
.login-page .signup-form, .logout-page .signup-form {
  height: 600px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.login-page .signup-form button, .logout-page .signup-form button {
  width: 158px;
  height: 52px;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #FFD972;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  font-family: Caveat-Regular;
  font-size: 25px;
  width: 250px;
  border: none;
  font-family: Caveat-Regular;
}

.create-recipe-page {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 40px;
  position: relative;
  text-align: left;
}
.create-recipe-page .section-header {
  margin-bottom: 30px;
  font-size: 20px;
}
.create-recipe-page #submitBtn, .create-recipe-page #editBtn {
  width: 158px;
  height: 52px;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #FFD972;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  font-family: Caveat-Regular;
  cursor: pointer;
  width: 422px;
  height: 52px;
  background-color: #EFA7A7;
  border-bottom: 0;
  border-radius: 25px;
  font-size: 25px;
}
.create-recipe-page h2 {
  margin-top: 100px;
  margin-bottom: 100px;
}
.create-recipe-page input {
  width: 100%;
  height: 50px;
  margin-bottom: 100px;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  font-size: 20px;
}
.create-recipe-page .ingredients-section, .create-recipe-page .instructions-section {
  position: relative;
  margin-bottom: 50px;
}
.create-recipe-page .ingredients-section .addIngredButton, .create-recipe-page .ingredients-section .addStepButton, .create-recipe-page .instructions-section .addIngredButton, .create-recipe-page .instructions-section .addStepButton {
  width: 50px;
  height: 50px;
  background-color: #EFA7A7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 40px;
  border-radius: 25px;
  cursor: pointer;
  position: absolute;
  right: 5px;
  bottom: 110px;
  user-select: none;
}

.indv-recipe {
  margin-bottom: 93px;
}
.indv-recipe h2, .indv-recipe h3 {
  font-family: Lato-Black;
  margin-bottom: 36px;
  letter-spacing: 3px;
}
.indv-recipe p {
  font-family: Caveat-Regular;
  font-size: 20px;
}
.indv-recipe .recipe-header {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
  margin-top: 163px;
  margin-left: 92px;
  position: relative;
}
.indv-recipe .recipe-header .recipe-image-section {
  min-width: 50%;
  display: flex;
}
.indv-recipe .recipe-header .recipe-image-section #sw-recipe-name {
  transform: rotate(-90deg);
  top: 190px;
  height: 15px;
  width: 40px;
  margin-top: 50%;
  margin-right: 10px;
  font-size: 25px;
  font-family: Lato-Black;
  letter-spacing: 3px;
}
.indv-recipe .recipe-header .recipe-image-section img {
  height: 421px;
  width: 468px;
  object-fit: cover;
  float: right;
}
.indv-recipe .recipe-header .description {
  min-width: 50%;
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.indv-recipe .recipe-header .description .desc-box {
  margin-bottom: 40px;
}
.indv-recipe .recipe-header .description .desc-box h2 {
  font-size: 25px;
}
.indv-recipe .recipe-header .description .desc-box h3 {
  font-size: 20px;
}
.indv-recipe .recipe-header .description .desc-box p {
  max-width: 455px;
}
.indv-recipe .bottom-container {
  max-width: 1000px;
  width: 100%;
  margin-left: 125px;
}
.indv-recipe .bottom-container .ingredients-instructions {
  margin-top: 60px;
}
.indv-recipe .bottom-container .ingredients-instructions .list-container {
  max-width: 968px;
}
.indv-recipe .bottom-container .site-button {
  width: 158px;
  height: 52px;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #FFD972;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  font-family: Caveat-Regular;
  cursor: pointer;
  font-family: Caveat-Regular;
  font-size: 20px;
  margin-top: 68px;
  letter-spacing: 3px;
  padding-top: 13px;
}

.browse-recipes-page {
  background-image: linear-gradient(rgba(167, 232, 189, 0.5), rgba(167, 232, 189, 0.5)), url("../images/recipe-hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -135px;
  margin-bottom: -50px;
  padding: 195px 0 147px 0;
}
.browse-recipes-page .browse-grid {
  margin: 0 auto;
  max-width: 1002px;
}
.browse-recipes-page .browse-grid h1 {
  font-family: Caveat-Bold;
  font-size: 25px;
}
.browse-recipes-page .browse-grid .browse-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.browse-recipes-page .browse-grid .browse-row .browse-recipe {
  max-width: 524px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 50px;
}
.browse-recipes-page .browse-grid .browse-row .browse-recipe .browse-recipe-left {
  width: 300px;
  height: 263px;
}
.browse-recipes-page .browse-grid .browse-row .browse-recipe .browse-recipe-left img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
}
.browse-recipes-page .browse-grid .browse-row .browse-recipe .browse-recipe-right {
  width: 224px;
  height: 263px;
  border-radius: 25px;
  background-color: #fff;
}
.browse-recipes-page .browse-grid .browse-row .browse-recipe .browse-recipe-right h2 {
  font-size: 15px;
  font-family: Lato-Black;
  width: 130px;
  border-bottom: 4px solid #000;
  margin: 43px auto 20px auto;
}
.browse-recipes-page .browse-grid .browse-row .browse-recipe .browse-recipe-right p {
  font-family: Lato-Regular;
  font-size: 9px;
  width: 130px;
  margin: 0 auto 20px auto;
}
.browse-recipes-page .browse-grid .browse-row .browse-recipe .browse-recipe-right .recipe-details {
  display: flex;
  width: 100px;
  height: 24px;
  margin: auto;
  margin-bottom: 17px;
}
.browse-recipes-page .browse-grid .browse-row .browse-recipe .browse-recipe-right .recipe-details img {
  width: 23px;
  height: 24px;
}
.browse-recipes-page .browse-grid .browse-row .browse-recipe .browse-recipe-right .recipe-details p {
  font-family: Lato-Regular;
  font-size: 10px;
  max-width: 80px;
  padding: 5px 0 0 17px;
}

.your-recipes-page {
  background-image: linear-gradient(rgba(167, 232, 189, 0.5), rgba(167, 232, 189, 0.5)), url("../images/recipe-hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -135px;
  margin-bottom: -50px;
  padding: 195px 0 147px 0;
  min-height: 800px;
}
.your-recipes-page #name-greeting {
  font-size: 25px;
  font-weight: bold;
  margin-left: 100px;
  margin-top: 100px;
}
.your-recipes-page .recipes-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 100px;
}
.your-recipes-page .recipes-container .ind-container .ind-recipe {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 524px;
  margin-top: 52px;
}
.your-recipes-page .recipes-container .ind-container .ind-recipe .recipe-image-section {
  position: relative;
}
.your-recipes-page .recipes-container .ind-container .ind-recipe .recipe-image-section img {
  width: 300px;
  height: 263px;
  border-radius: 20px;
  object-fit: cover;
}
.your-recipes-page .recipes-container .ind-container .ind-recipe .recipe-image-section a {
  width: 158px;
  height: 52px;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #FFD972;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  font-family: Caveat-Regular;
  width: 127px;
  height: 42px;
  position: absolute;
  right: 90px;
  top: 120px;
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.your-recipes-page .recipes-container .ind-container .ind-recipe .recipe-description {
  width: 224px;
  height: 263px;
  border-radius: 20px;
  background-color: white;
  text-align: center;
}
.your-recipes-page .recipes-container .ind-container .ind-recipe .recipe-description h3 {
  text-align: center;
  margin: 0 auto;
  font-size: 15px;
  font-family: Lato-Black;
  letter-spacing: 2px;
  border-bottom: 3px solid black;
  width: 138px;
  margin-top: 45px;
  text-align: left;
}
.your-recipes-page .recipes-container .ind-container .ind-recipe .recipe-description .description {
  font-size: 10px;
  width: 130px;
  margin: 20px auto;
}
.your-recipes-page .recipes-container .ind-container .ind-recipe .recipe-description .recipe-details {
  display: flex;
  width: 100px;
  height: 24px;
  margin: auto;
  margin-bottom: 17px;
}
.your-recipes-page .recipes-container .ind-container .ind-recipe .recipe-description .recipe-details img {
  width: 23px;
  height: 24px;
}
.your-recipes-page .recipes-container .ind-container .ind-recipe .recipe-description .recipe-details p {
  font-family: Lato-Regular;
  font-size: 10px;
  max-width: 130px;
  padding: 5px 0 0 17px;
}
.your-recipes-page .edit-delete-btns {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 300px;
}
.your-recipes-page .edit-delete-btns a {
  width: 158px;
  height: 52px;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #FFD972;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  font-family: Caveat-Regular;
  width: 127px;
  height: 42px;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

/*# sourceMappingURL=styles.css.map */
