@font-face {
    font-family: Caveat-Regular;
    src: url('./fonts/Caveat-Regular.ttf');
}

@font-face {
    font-family: Caveat-Bold;
    src: url('./fonts/Caveat-Bold.ttf');
}

@font-face {
    font-family: Lato-Regular;
    src: url('./fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: Lato-Italic;
    src: url('./fonts/Lato/Lato-Italic.ttf');
}