@mixin site-button() {
    width: 158px;
    height: 52px;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: $site-yellow;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}