//site colors
$site-mint: #A7E8BD;
$site-lightPink: #FCBCB8;
$site-darkPink: #EFA7A7;
$site-red: #F25C54;
$site-yellow: #FFD972;

//site dimensions: laptop 1280 x 800
$site-width: 1280px; //maximum width a page can be
$site-height: 615px; //minimum height a page can be 
$tablet-width: 768px;