.your-recipes-page{
    background-image: linear-gradient(rgb($site-mint,0.5), rgb($site-mint,0.5)), url("../images/recipe-hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -135px;
    margin-bottom: -50px;
    padding: 195px 0 147px 0;
    min-height: $site-height;

    #name-greeting {
        font-size:25px;
        font-weight:bold;
        margin-left:100px;
        margin-top:100px;
    }

    .recipes-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-left: 100px;
        margin-right: 100px;

        .ind-container {
            margin-bottom: 50px;
            margin-top: 50px;

            .your-recipe {
                max-width: 524px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                margin-right: 50px;

                .your-recipe-left {
                    position: relative;
                    max-width: 300px;
                    width: 100%;
                    height: 263px;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 25px;
                        object-fit: cover;
                    }

                    a {
                        @include site-button();
                        width: 127px;
                        height: 42px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 20px;
                        text-decoration: none;
                        color:black;   
                    }
                }

                .your-recipe-right {
                    max-width: 224px;
                    width: 100%;
                    height: 263px;
                    border-radius: 25px;
                    background-color: #fff;

                    .right-content {
                        max-width: 146px;
                        width: 100%;
                        margin: 0 auto;
                        padding: 10px;

                        h2 {
                            font-size: 15px;
                            font-family: Lato-Black;
                            border-bottom: 4px solid #000;
                            margin: 43px 0 20px 0;
                        }
    
                        p {
                            font-family: Lato-Regular;
                            font-size: 9px;
                            margin-bottom: 20px;
                            text-align: leftS;
                        }
    
                        .your-recipe-details {
                            display: flex;
                            width: 150px;
                            margin: 0 20px;
    
                            img {
                                width: 23px;
                                height: 24px;
                            }
    
                            p {
                                font-family: Lato-Regular;
                                font-size: 10px;
                                padding: 5px 0 0 17px;
                            }
                        }
                    }
                }
            }

            .edit-delete-btns {
                margin-top: 15px;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                width: 300px;
                
                a {
                    @include site-button();
                    width: 127px;
                    height: 42px;
                    font-size: 20px;
                    text-decoration: none;
                    color:black;
                }
            }
        }
    }
}