.indv-recipe {
    margin-bottom: 93px;

    h2, h3 {
        font-family: Lato-Black;
        margin-bottom: 36px;
        letter-spacing: 3px;
    }

    p {
        font-family: Caveat-Regular;
        font-size: 20px;
    }
    
    .recipe-header {
        display: flex;
        margin-top: 163px;
        margin-left: 92px;
        position: relative;
        padding-right: 20px;

        .recipe-image-section {
            max-width: 500px;
            width: 100%;
            height: 421px;
            display: flex;
    
            #sw-recipe-name {
                width: 79px;
                margin-right: 5px;
                overflow: hidden;
                text-overflow: ellipsis;
                transform: rotate(180deg);
                padding-top: 100px;

                h2 {
                    writing-mode: vertical-rl;
                    text-orientation: sideways-right;
                    font-size: 25px;
                    font-family: Lato-Black;
                    letter-spacing: 3px; 
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: " . . .";
                    height: 300px;
                }
            }
        
            img {
                height: 421px;
                max-width: 468px;
                width: 100%;
                object-fit: cover;
                float: right;
            }
        }

        .description {
            max-width: 500px;
            min-height: 421px;
            margin-left: 40px;
            justify-content: space-between;

            .desc-box {
                margin-bottom: 40px;

                h2 { 
                    font-size: 25px; 
                }

                h3 { 
                    font-size: 20px; 
                }
            }
        }
    }

    .bottom-container {
        max-width: 1000px;
        padding-right: 20px;
        margin-left: 165px;

        .ingredients-instructions {
            margin-top: 60px;

            .list-container {
                max-width: 968px;
            }
        }

        .site-button {
            @include site-button();
            cursor: pointer;
            font-family: Caveat-Regular;
            font-size: 20px;
            margin-top: 68px;
            letter-spacing: 3px;
            padding-top: 13px;

            a {
                color: #000;
                text-decoration: none;
            }
        }
    }
}

@media screen and (max-width: $tablet-width) {
    .indv-recipe {
        .recipe-header {
            flex-direction: column;
        
            .recipe-image-section {
                margin-left: -30px;
            }

            .description {
                margin-top: 60px;
                margin-bottom: 0px;
                max-width: 455px;

                .desc-box:last-child {
                    margin-bottom: 0px;
                }
            }
        }

        .bottom-container {
            margin-left: 110px;
        }
    }
}